<div class="header-div">
  <div class="header-title">
    <img
      src="https://www.svgrepo.com/show/127575/location-sign.svg"
      alt="location Img"
    />
    <h1>Tourist destinations</h1>
  </div>
  <div>
    <input
      type="text"
      placeholder="🔎 Search"
      (input)="changeHandler($event)"
    />
  </div>
  <div class="user-header">
    @if(user.username) {
    <p>Welcome {{ user.username }}</p>
    } @else {
    <p>User</p>
    }

    <button (click)="showLogInMenu()">
      <img
        src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png"
        alt="userImg"
      />
    </button>
  </div>
</div>
<div
  class="menus-div"
  [ngStyle]="
    showMenu
      ? {
          display: 'flex'
        }
      : {
          display: 'none'
        }
  "
>
  @if(user.username) {
  <button (click)="loggingOut()">Log out</button>
  } @else {
  <ul>
    <li>
      <a
        routerLink="/logIn"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Log in</a
      >
    </li>
    <li>
      <a
        routerLink="/signUp"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Sign up</a
      >
    </li>
  </ul>
  }
</div>
