.root-div {
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(181, 128, 231);
    position: absolute;
    font-size: 30px;
    color: rgb(31, 3, 58);
    overflow: hidden;
}

.destinations-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
    width: 100%;
    position: relative;
    margin-top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}