<div class="destination-page">
  <div class="main-section">
    <section class="hero-section">
      <h1>{{ data.name }}</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis,
        voluptatum eum eius cum beatae vero dolor esse quibusdam libero, culpa
        deleniti delectus obcaecati dolorem qui. Ut rerum repellendus veniam?
        Quod!
      </p>
    </section>
    <section class="location-description">
      <div>
        <h1>{{ data.location.continent }}</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio
          nesciunt perferendis, aperiam quis fuga assumenda itaque nisi, quae,
          eaque harum voluptatum illum sed? Cumque consequuntur officiis,
          molestiae ex error enim.
        </p>
      </div>
      <img src="" />
    </section>
    <section class="location-description">
      <img src="" />
      <div>
        <h1>{{ data.location.country }}</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio
          nesciunt perferendis, aperiam quis fuga assumenda itaque nisi, quae,
          eaque harum voluptatum illum sed? Cumque consequuntur officiis,
          molestiae ex error enim.
        </p>
      </div>
    </section>
    <section class="location-description">
      <div>
        <h1>{{ data.location.town }}</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio
          nesciunt perferendis, aperiam quis fuga assumenda itaque nisi, quae,
          eaque harum voluptatum illum sed? Cumque consequuntur officiis,
          molestiae ex error enim.
        </p>
      </div>
      <img src="" />
    </section>
  </div>
</div>

<button (click)="onBack()">Go back</button>
